@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
}

:root {
  --background: #f8fafc; /* Un gris muy sutil para que los blancos resalten */
  --foreground: #0f172a; /* Azul oscuro casi negro para máxima legibilidad */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 14px;
  overscroll-behavior-y: contain;
}